/*===== Variables =====*/
/* Theme Colors */
/* Media Query widths */
/* Social Media Brand Colors */
/*===== Mixins =====*/
/***** Silent Classes *****/
#accordion-section-ct_chosen_pro .accordion-section-title {
  color: #fff;
  background: #05B0E7;
  -webkit-transition: background 0.2s;
          transition: background 0.2s;
}
#accordion-section-ct_chosen_pro .accordion-section-title:after {
  color: #fff;
}
#accordion-section-ct_chosen_pro .accordion-section-title:hover, #accordion-section-ct_chosen_pro .accordion-section-title:active, #accordion-section-ct_chosen_pro .accordion-section-title:focus {
  background: #3A96B5 !important;
  color: #fff !important;
}
#accordion-section-ct_chosen_pro .accordion-section-title:hover:after, #accordion-section-ct_chosen_pro .accordion-section-title:active:after, #accordion-section-ct_chosen_pro .accordion-section-title:focus:after {
  color: #fff !important;
}

#customize-control-chosen_pro {
  background: white;
  border: solid 1px #D9D9D9;
  padding: 6px 24px;
  box-sizing: border-box;
}
#customize-control-chosen_pro ul {
  list-style: disc;
  padding-left: 15px;
}
#customize-control-chosen_pro img {
  position: relative;
  max-width: none;
  width: 273px;
  top: -6px;
  left: -24px;
  border-bottom: solid 1px #D9D9D9;
}
#customize-control-chosen_pro .bold {
  font-weight: 600;
  font-size: 16px;
}
#customize-control-chosen_pro .button-wrapper {
  text-align: center;
}
#customize-control-chosen_pro .chosen-pro-button {
  display: inline-block;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  padding: 15px 24px;
  margin: 12px auto;
  background: #FF931E;
  color: #fff;
  text-decoration: none;
  -webkit-transition: background 0.2s;
          transition: background 0.2s;
}
#customize-control-chosen_pro .chosen-pro-button:before {
  content: '\f06e';
  font-family: 'FontAwesome';
  margin-right: 6px;
}
#customize-control-chosen_pro .chosen-pro-button:hover, #customize-control-chosen_pro .chosen-pro-button:active, #customize-control-chosen_pro .chosen-pro-button:focus {
  background: #FF8A23;
}
