/*
Theme Name: Chosen
Theme URI: https://www.competethemes.com/chosen/
Author: Compete Themes
Author URI: https://www.competethemes.com/
Description: Chosen is a bold and minimalist theme for publishers who want to get their visitors' attention and keep it. Present your best content in a clean, uncluttered fashion on phones, tablets, and desktop computers with Chosen. Preview on desktop, tablets, and mobile with our interactive live demo: https://www.competethemes.com/demos/?theme=chosen
Version: 1.21
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: blog, entertainment, photography, one-column, two-columns, accessibility-ready, custom-menu, featured-images, rtl-language-support, sticky-post, theme-options, threaded-comments, translation-ready
Text Domain: chosen

Chosen WordPress Theme, Copyright 2016 Compete Themes
Chosen is distributed under the terms of the GNU GPL
*/
/*===== Variables =====*/
/* Theme Colors */
/* Media Query widths */
/* Social Media Brand Colors */
/*===== Mixins =====*/
/***** Silent Classes *****/
.site-title {
  font-size: 2.375em;
  /* 38px / 16px */
  line-height: 1.342;
  /* 51px */
}

h1 {
  font-size: 1.75em;
  /* 28px / 16px */
  line-height: 1.357;
  /* 38px */
}

h2, .comments-number,
.comment-reply-title {
  font-size: 1.3125em;
  /* 21px / 16px */
  line-height: 1.143;
  /* 24px */
}

input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]):not([type="file"]):not([type="image"]),
textarea, .archive-header h1, .post-content, .further-reading a {
  font-size: 1.0625em;
  /* 17px / 16px */
  line-height: 1.4118;
  /* 24px */
}

.wp-caption-text,
.gallery-caption, input[type="submit"], .sticky-status span, .comment-respond label, .comment-footer span,
.comment-footer a, .menu-primary a, .post-categories,
.post-tags, .singular-attachment .attachment-caption {
  font-size: 0.75em;
  /* 12px / 16px */
  line-height: 1.5;
  /* 18px */
}

.more-link, .comments-link, .tagline, .post-byline, .further-reading span {
  font-size: 0.625em;
  /* 10px / 16px */
  line-height: 1.8;
  /* 18px */
}

.more-link, .comments-link, .sticky-status span, .comment-footer span,
.comment-footer a, .tagline, .menu-primary a, .post-byline, .post-categories span,
.post-tags span, .further-reading span {
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

/*===== Basic Styles =====*/
/* apply a natural box layout model to all elements */
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  height: 100%;
  font-size: 100%;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  line-height: 1.5;
  background: white;
  color: #545454;
  -webkit-font-smoothing: subpixel-antialiased;
  word-wrap: break-word;
  -ms-word-wrap: break-word;
}

.overflow-container {
  position: relative;
  overflow: hidden;
  height: auto;
  min-height: 100%;
  padding: 0 4.167%;
}

.main {
  margin: 0 auto;
}

.loop-container:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

p {
  margin: 1.5em 0;
}

a {
  color: #2B2B2B;
  text-decoration: none;
  -webkit-transition: color 0.1s ease-in-out;
          transition: color 0.1s ease-in-out;
}
a:link, a:visited {
  color: #2B2B2B;
}
a:hover, a:active, a:focus {
  color: #666666;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", serif;
  margin: 0;
  padding: 0;
  font-weight: 400;
  color: #2B2B2B;
}

h3, h4, h5, h6 {
  font-size: 1em;
  line-height: 1.5;
}

ul,
ol {
  font-size: 1em;
  padding: 0;
  margin: 1.5em;
}
ul ul, ul ol,
ol ul,
ol ol {
  margin: 0 1.5em;
}

ul ul,
ol ol,
ul ol,
ol ul,
li li {
  font-size: 1em;
}

/* Markup styles */
pre {
  word-wrap: break-word;
  white-space: pre-wrap;
  background: #EDEDED;
  border: solid 1px #DEDEDE;
  padding: 0.75em;
}

code {
  background: #EDEDED;
  padding: 0 0.375em;
}

blockquote {
  margin: 1.5em 0 1.5em 1.5em;
  padding-right: 1.5em;
  border-right: solid 3px #3a3a3a;
}
blockquote cite {
  display: block;
  text-align: left;
}

hr {
  margin: 1.5em 0;
}

/* Table styles */
table {
  border-spacing: 0;
  border-collapse: collapse;
  margin: 1.5em 0;
}

td,
th {
  padding: 0.75em;
  border: solid 1px #666666;
}

/* Images */
.alignleft {
  float: right;
  margin: 0 0 1.5em 1.5em;
}

.alignright {
  float: left;
  margin: 0 1.5em 1.5em 0;
}

.aligncenter {
  text-align: center;
  margin: 1.5em auto;
  display: block;
}

.alignnone {
  margin: 1.5em 0;
}

img,
.alignright,
.alignleft,
.aligncenter,
.alignnone,
.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
  max-width: 100%;
  height: auto;
}

.wp-caption-text,
.gallery-caption {
  margin: 0 0 1.84502em;
}

/* Form styles */
input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]):not([type="file"]):not([type="image"]),
textarea {
  width: 100%;
  font-family: "Raleway", sans-serif;
  padding: 10px 12px;
  max-width: 22.5em;
  background: #EDEDED;
  color: #545454;
  border: solid 1px #DEDEDE;
  border-radius: 0;
  -webkit-appearance: none;
  -webkit-transition: all 0.1s ease-in-out;
          transition: all 0.1s ease-in-out;
}
input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]):not([type="file"]):not([type="image"]):focus,
textarea:focus {
  outline: none;
  background: white;
}

textarea {
  max-width: 41.625em;
  overflow: auto;
  /* to hide scrollbar in IE */
}

input[type="submit"] {
  font-family: "Raleway", sans-serif;
  padding: 14px 16px;
  min-width: 100px;
  color: white;
  background: #2B2B2B;
  outline: none;
  border: none;
  border-radius: 0;
  -webkit-appearance: none;
  -webkit-transition: all 0.1s ease-in-out;
          transition: all 0.1s ease-in-out;
}
input[type="submit"]:hover {
  cursor: pointer;
}
input[type="submit"]:hover, input[type="submit"]:active, input[type="submit"]:focus {
  background: #545454;
}

input[type="search"] {
  padding-left: 0.375em;
  /* so safari 'x' doesn't get cut off */
}

::-webkit-input-placeholder {
  color: #666666;
}

:-moz-placeholder {
  color: #666666;
}

::-moz-placeholder {
  color: #666666;
}

:-ms-input-placeholder {
  color: #666666;
}

/* ie image border fix */
a img {
  border: none;
}

#breadcrumbs {
  text-align: center;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) {
  html {
    -webkit-text-size-adjust: none;
    /* none for no scaling */
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  html {
    -webkit-text-size-adjust: none;
    /* none for no scaling */
  }
}
.screen-reader-text {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
  width: 1px;
}

.skip-content {
  position: absolute;
  top: -100%;
  width: 100%;
  right: 0;
  display: block;
  text-align: center;
  color: white !important;
  z-index: 99;
  padding: 1.5em;
  background: #3a3a3a;
  -webkit-transition: top 0.2s ease-in-out;
          transition: top 0.2s ease-in-out;
}
.skip-content:focus {
  top: 0;
  outline: none;
}

.admin-bar .skip-content:focus {
  top: 32px;
}

.max-width {
  max-width: 1400px;
  margin: 0 auto;
}

.infinite-loader,
#infinite-handle {
  clear: both;
}

.error404 .search-form-container,
.search .search-form-container {
  margin: 3em auto 4.5em;
  text-align: center;
}

.more-link {
  display: inline-block;
  padding: 9px 16px;
  margin-left: 12px;
  background: #2B2B2B;
  color: white;
  -webkit-transition: all 0.1s ease-in-out;
          transition: all 0.1s ease-in-out;
}
.more-link:link, .more-link:visited {
  color: white;
}
.more-link:hover, .more-link:active, .more-link:focus {
  background: #545454;
  color: white;
}

.comments-link {
  color: #2B2B2B;
  -webkit-transition: color 0.1s ease-in-out;
          transition: color 0.1s ease-in-out;
}
.comments-link i {
  margin-left: 3px;
}
.comments-link a {
  color: #2B2B2B;
}
.comments-link a:link, .comments-link a:visited {
  color: #2B2B2B;
}
.comments-link a:hover, .comments-link a:active, .comments-link a:focus {
  text-decoration: underline;
  color: #2B2B2B;
}

.post-content .more-link,
.post-content .comments-link a {
  text-decoration: none;
}

.full-post .comments-link {
  display: block;
  margin: 3em 0;
}

.blog .post-content,
.archive .post-content,
.search .post-content {
  text-align: center;
}
.blog .post-content ul,
.blog .post-content p:not(:last-of-type),
.archive .post-content ul,
.archive .post-content p:not(:last-of-type),
.search .post-content ul,
.search .post-content p:not(:last-of-type) {
  text-align: right;
}
.blog .post-content p:last-of-type,
.archive .post-content p:last-of-type,
.search .post-content p:last-of-type {
  font-size: 0.9412em;
  line-height: 1.5;
  display: inline-block;
  margin: 0.75em 0 0;
}

.entry.sticky {
  position: relative;
}

.sticky-status span {
  position: absolute;
  top: 0;
  right: 0;
  padding: 9px 18px;
  background: #2B2B2B;
  color: white;
}

.search .sticky-status {
  display: none;
}

.entry:not(.has-post-thumbnail) .sticky-status {
  margin-bottom: 1.5em;
}
.entry:not(.has-post-thumbnail) .sticky-status span {
  position: relative;
}

@media all and (min-width: 43.75em) {
  .more-link,
  .comments-link {
    font-size: 0.75em;
    /* 12px / 16px */
    line-height: 1.5;
    /* 18px */
  }
}
@media all and (min-width: 56.25em) {
  .blog .entry,
  .archive .entry,
  .search .entry {
    width: 47.69132%;
    float: right;
  }
  .blog .entry:nth-child(even),
  .archive .entry:nth-child(even),
  .search .entry:nth-child(even) {
    margin-left: 4.54203%;
  }
  .blog .post-header,
  .blog .post-content,
  .archive .post-header,
  .archive .post-content,
  .search .post-header,
  .search .post-content {
    text-align: right;
  }

  .blog:not(.posts-page-1) .entry:nth-child(odd),
  .archive .entry:nth-child(odd),
  .search .entry:nth-child(odd) {
    margin-left: 4.54203%;
  }
  .blog:not(.posts-page-1) .entry:nth-child(even),
  .archive .entry:nth-child(even),
  .search .entry:nth-child(even) {
    margin-left: 0;
  }

  .posts-page-1 .entry:first-of-type {
    width: 100%;
    float: none;
  }
  .posts-page-1 .entry:first-of-type .post-title {
    font-size: 3.188em;
    /* 51px / 16px */
    line-height: 1.314;
    /* 67px */
  }
  .posts-page-1 .entry:first-of-type .post-header,
  .posts-page-1 .entry:first-of-type .post-content {
    padding: 0 9.08406%;
    text-align: center;
  }
}
@media all and (min-width: 68.75em) {
  .posts-page-1 .entry:first-of-type .post-content {
    padding: 0 13.62609%;
  }
}
@media all and (min-width: 75em) {
  .posts-page-1 .entry:first-of-type .post-content {
    padding: 0 18.16812%;
  }
}
.archive-header {
  margin-bottom: 1.5em;
}
.archive-header h1 {
  font-family: "Raleway", sans-serif;
}
.archive-header span {
  font-weight: 600;
}
.archive-header i {
  margin-left: 2px;
}
.archive-header p {
  font-style: italic;
}

@media all and (min-width: 56.25em) {
  .archive-header {
    margin-bottom: 3em;
  }
}
.comment-respond label {
  display: block;
  margin-bottom: 0.5em;
}

.comment .comment-respond {
  margin-top: 1.5em;
}
.comment #cancel-comment-reply-link {
  font-size: 16px;
  line-height: 1.5;
  margin-right: 6px;
}

.comments-number h2,
.comment-reply-title h2 {
  font-size: 1em;
}

.comment-list {
  margin: 3em 0;
  list-style: none;
}
.comment-list li {
  margin: 3em 0;
}
.comment-list ul {
  list-style: none;
  margin: 0;
  padding-right: 1.5em;
  border-right: solid 1px #D9D9D9;
}

.comment-content {
  font-size: 1.0625em;
  /* 17px / 16px */
  line-height: 1.4118;
  /* 24px */
}
.comment-content li {
  margin: 0;
}
.comment-content ul {
  list-style: disc;
  margin: 1.5em 0;
  padding-right: 0;
  border: none;
}
.comment-content ul ul {
  margin: 0 1.5em 0 0;
}

.comment-author {
  margin-bottom: 1.5em;
}
.comment-author:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.comment-author img {
  float: right;
  margin: 0 0 0 0.75em;
  height: 2.25em;
  width: 2.25em;
}
.comment-author .author-name {
  font-size: 1.0625em;
  /* 17px / 16px */
  line-height: 2.118;
  /* 36px / 17px */
}

.comment-footer {
  margin-top: 1.5em;
}

.comment-reply-link,
.comment-edit-link {
  position: relative;
  margin-right: 16px;
  border-color: transparent;
}
.comment-reply-link:after,
.comment-edit-link:after {
  position: absolute;
  content: '';
  top: 0;
  right: -11px;
  height: 100%;
  width: 1px;
  background: #D9D9D9;
}

.bypostauthor .author-name:after {
  content: '(author)';
  margin-right: 6px;
  font-size: 12px;
  display: inline-block;
}

@media all and (min-width: 43.75em) {
  .comments-number,
  .comment-reply-title {
    font-size: 1.75em;
    /* 28px / 16px */
    line-height: 1.357;
    /* 38px */
  }

  .comment-pagination {
    margin: 3em 0;
  }
  .comment-pagination p {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    margin-left: -4px;
  }
  .comment-pagination .next-comment {
    text-align: left;
  }
}
@media all and (min-width: 56.25em) {
  .comments {
    padding: 0 9.08406%;
  }
}
@media all and (min-width: 68.75em) {
  .comments {
    padding: 0 13.62609%;
  }
}
@media all and (min-width: 75em) {
  .comments {
    padding: 0 18.16812%;
  }
}
.site-footer {
  position: relative;
  right: -4.6%;
  width: 109.2%;
  padding: 1.5em 4.167%;
  margin-top: 3em;
  text-align: center;
  background: #f5f5f5;
  border-top: solid 1px #EDEDED;
}

.site-header {
  text-align: center;
  padding-top: 39px;
}

.toggle-navigation {
  display: block;
  background: none;
  margin: 0 auto;
  padding: 0;
  border: none;
}
.toggle-navigation:hover {
  cursor: pointer;
}

.title-container {
  margin: 2.25em 0;
}

.site-title {
  font-family: "Playfair Display", serif;
}

.tagline {
  margin: 0;
}

.social-media-icons {
  list-style: none;
  margin: -6px auto 2.25em;
}
.social-media-icons li {
  display: inline-block;
  margin-left: 1.125em;
}
.social-media-icons li:last-child {
  margin-left: 0;
}

@media all and (min-width: 43.75em) {
  .site-title {
    font-size: 3.188em;
    /* 51px / 16px */
    line-height: 1.314;
    /* 67px */
  }

  .tagline {
    font-size: 0.75em;
    /* 12px / 16px */
    line-height: 1.5;
    /* 18px */
  }
}
@media all and (min-width: 56.25em) {
  .site-header {
    padding-top: 1.5em;
  }

  .title-container {
    margin: 3em 0 4.5em;
  }

  .toggle-navigation {
    display: none;
  }

  .social-media-icons {
    float: left;
    margin: 0;
    text-align: left;
    -webkit-transition: all 0.1s ease-in-out;
            transition: all 0.1s ease-in-out;
  }
  .social-media-icons.fade {
    opacity: 0;
    -webkit-transform: translateX(4px);
            transform: translateX(4px);
  }
}
@media all and (min-width: 68.75em) {
  .title-container {
    margin: 4.5em 0 6em;
  }

  .site-title {
    font-size: 4.188em;
    /* 67px / 16px */
    line-height: 1.343;
    /* 90px */
  }
}
.pagination {
  clear: both;
  margin: 3em auto;
  text-align: center;
}
.pagination a,
.pagination span {
  display: inline-block;
  margin: 0 18px;
}
.pagination a:focus {
  text-decoration: underline;
}
.pagination .current {
  border: solid 1px #3a3a3a;
  padding: 5px 12px;
}

.infinite-scroll .pagination {
  display: none;
}

.main:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.menu-primary-container {
  position: relative;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-in-out;
          transition: max-height 0.2s ease-in-out;
}

.menu-primary {
  margin-bottom: 2.25em;
}
.menu-primary ul {
  list-style: none;
  margin: 0;
}
.menu-primary ul > .current-menu-item:first-child,
.menu-primary ul > .current_page_item:first-child {
  margin-top: 1px;
}
.menu-primary li {
  margin-bottom: 6px;
}
.menu-primary li:last-child {
  margin-bottom: 0;
}
.menu-primary a {
  display: inline-block;
  padding: 9px 12px;
}
.menu-primary a:focus {
  text-decoration: underline;
}
.menu-primary .current-menu-item > a,
.menu-primary .current_page_item > a {
  outline: solid 1px #3a3a3a;
}
.menu-primary .current-menu-item.menu-item-has-children > a,
.menu-primary .current_page_item.menu-item-has-children > a {
  margin-right: 16px;
}
.menu-primary .current-menu-item.menu-item-has-children > a + .toggle-dropdown,
.menu-primary .current_page_item.menu-item-has-children > a + .toggle-dropdown {
  margin: 0 8px 0 0;
}

.menu-primary-items ul {
  margin: 0;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-in-out;
          transition: max-height 0.2s ease-in-out;
}
.menu-primary-items ul li {
  margin: 0;
}
.menu-primary-items .open > ul {
  max-height: 999px;
}
.menu-primary-items .open > .toggle-dropdown {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.toggle-dropdown {
  margin: 0 -8px 0 0;
  padding: 0;
  font-size: 1em;
  line-height: 1;
  background: none;
  border: none;
  color: #666666;
  -webkit-transition: -webkit-transform 0.1s ease-in-out;
          transition: transform 0.1s ease-in-out;
}
.toggle-dropdown:hover {
  cursor: pointer;
}
.toggle-dropdown:focus {
  outline: none;
}
.toggle-dropdown:after {
  content: '\f107';
  font-family: 'FontAwesome';
}

.open.menu-primary-container {
  max-height: 999px;
}

@media all and (min-width: 56.25em) {
  .menu-primary-container {
    max-height: none;
    overflow: visible;
  }
  .menu-primary-container:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }

  .menu-primary {
    display: inline-block;
    text-align: right;
    float: right;
    margin-bottom: 0;
  }
  .menu-primary li {
    position: relative;
    display: inline-block;
    margin: 0;
  }
  .menu-primary li:not(.current-menu-item) > a:focus {
    outline: none;
  }
  .menu-primary .current-menu-item.menu-item-has-children > a, .menu-primary .current-menu-item.page_item_has_children > a,
  .menu-primary .current_page_item.menu-item-has-children > a,
  .menu-primary .current_page_item.page_item_has_children > a {
    margin-right: 0;
  }
  .menu-primary ul > .current-menu-item:first-child,
  .menu-primary ul > .current_page_item:first-child {
    margin-top: 0;
  }

  .menu-primary-items ul {
    position: absolute;
    max-height: none;
    z-index: 29;
    visibility: hidden;
    overflow: visible;
    opacity: 0;
    top: 100%;
    top: calc(100% + 6px);
    right: -1.5em;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    background: white;
    padding: 0 1.5em 0.75em;
    -webkit-transition: all 0.1s ease-in-out;
            transition: all 0.1s ease-in-out;
  }
  .menu-primary-items ul:hover, .menu-primary-items ul.focused {
    visibility: visible;
    top: 100%;
    top: calc(100% + 1px);
    opacity: 1;
  }
  .menu-primary-items ul a {
    width: 100%;
  }
  .menu-primary-items ul .menu-item-has-children > a {
    width: calc(100% - 16px);
  }
  .menu-primary-items ul li {
    display: block;
    z-index: 9;
    white-space: nowrap;
    margin: 0 0 6px 0;
  }
  .menu-primary-items ul li:first-child {
    margin-top: 0;
  }
  .menu-primary-items ul .toggle-dropdown {
    margin: 0 -2px 0 0;
  }
  .menu-primary-items ul .toggle-dropdown:after {
    content: '\f105';
  }
  .menu-primary-items .menu-item-has-children.open > ul {
    visibility: visible;
    top: 100%;
    top: calc(100% + 1px);
    opacity: 1;
  }
  .menu-primary-items .menu-item-has-children:hover > button, .menu-primary-items .menu-item-has-children.focused > button {
    -webkit-transform: translate(0, 2px);
            transform: translate(0, 2px);
  }
  .menu-primary-items .menu-item-has-children li {
    margin-left: 0;
  }
  .menu-primary-items .menu-item-has-children > a {
    position: relative;
    z-index: 9;
  }
  .menu-primary-items .menu-item-has-children > a:hover ~ ul, .menu-primary-items .menu-item-has-children > a:active ~ ul, .menu-primary-items .menu-item-has-children > a:focus ~ ul {
    visibility: visible;
    top: 100%;
    top: calc(100% + 1px);
    opacity: 1;
  }
  .menu-primary-items .menu-item-has-children > a:hover + button, .menu-primary-items .menu-item-has-children > a:active + button, .menu-primary-items .menu-item-has-children > a:focus + button {
    -webkit-transform: translate(0, 2px);
            transform: translate(0, 2px);
  }
  .menu-primary-items .menu-item-has-children > a:hover:after, .menu-primary-items .menu-item-has-children > a:active:after {
    content: '';
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    height: 24px;
  }
  .menu-primary-items .menu-item-has-children .menu-item-has-children:hover > button, .menu-primary-items .menu-item-has-children .menu-item-has-children.focused > button {
    -webkit-transform: translate(2px, 0);
            transform: translate(2px, 0);
  }
  .menu-primary-items .menu-item-has-children .menu-item-has-children > a:hover + button, .menu-primary-items .menu-item-has-children .menu-item-has-children > a:active + button, .menu-primary-items .menu-item-has-children .menu-item-has-children > a:focus + button {
    -webkit-transform: translate(2px, 0);
            transform: translate(2px, 0);
  }
  .menu-primary-items .menu-item-has-children .menu-item-has-children > a:hover ~ ul, .menu-primary-items .menu-item-has-children .menu-item-has-children > a:active ~ ul, .menu-primary-items .menu-item-has-children .menu-item-has-children > a:focus ~ ul {
    top: 0;
    right: 100%;
  }
  .menu-primary-items .menu-item-has-children .menu-item-has-children > a:hover:after, .menu-primary-items .menu-item-has-children .menu-item-has-children > a:active:after {
    top: 0;
    bottom: 0;
    right: 100%;
    width: 36px;
  }
  .menu-primary-items .menu-item-has-children .menu-item-has-children ul {
    right: 100%;
    right: calc(100% + 6px);
    top: 0;
  }
  .menu-primary-items .menu-item-has-children .menu-item-has-children ul:hover, .menu-primary-items .menu-item-has-children .menu-item-has-children ul.focused {
    top: 0;
    right: 100%;
  }

  .menu-primary .current-menu-item.menu-item-has-children > a + .toggle-dropdown {
    margin: 0 8px 0 12px;
  }

  .toggle-dropdown {
    margin: 0 -8px 0 12px;
  }

  .rtl .menu-primary-items ul .menu-item-has-children > button:after {
    content: '\f104';
  }
  .rtl .menu-primary-items ul .menu-item-has-children > a:hover + button, .rtl .menu-primary-items ul .menu-item-has-children > a:active + button, .rtl .menu-primary-items ul .menu-item-has-children > a:focus + button {
    -webkit-transform: translate(-2px, 0);
            transform: translate(-2px, 0);
  }
}
.entry {
  margin-bottom: 3em;
}

.featured-image {
  position: relative;
  height: 0;
  padding-bottom: 50%;
  overflow: hidden;
}
.featured-image > a {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  font-size: 0;
}
.featured-image > img,
.featured-image > a > img {
  position: absolute;
  right: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.featured-image > img.no-object-fit,
.featured-image > a > img.no-object-fit {
  min-width: 0;
  min-height: 0;
  max-width: 100%;
  max-height: 100%;
  height: auto;
  width: auto;
  top: 50%;
  left: 50%;
  right: auto;
  -webkit-transform: translateX(50%) translateY(-50%);
          transform: translateX(50%) translateY(-50%);
}
.featured-image .ccfic {
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: center;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 4px;
  font-size: 13px;
}

.post-header {
  margin: 1.5em 0;
  text-align: center;
}

.post-content a {
  text-decoration: underline;
}
.post-content iframe {
  max-width: 100%;
}
.post-content:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.post-author span {
  font-style: italic;
  text-transform: lowercase;
  letter-spacing: 0;
}

.post-meta {
  margin: 3em 0;
}

.post-categories span,
.post-tags span {
  margin-left: 2em;
}
.post-categories a,
.post-tags a {
  text-decoration: underline;
  margin-left: 1.5em;
}

.post-tags ul {
  list-style: none;
  display: inline-block;
  margin: 0;
}
.post-tags li {
  display: inline-block;
}

.further-reading {
  margin: 1.5em 0 3em;
  padding: 2.25em 0;
  border-top: solid 1px #D9D9D9;
  border-bottom: solid 1px #D9D9D9;
}
.further-reading span {
  display: block;
}
.further-reading .previous {
  margin-bottom: 1.5em;
}
.further-reading:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

@media all and (min-width: 43.75em) {
  .entry {
    margin-bottom: 4.5em;
  }

  .post-title {
    font-size: 2.375em;
    /* 38px / 16px */
    line-height: 1.342;
    /* 51px */
  }

  .post-byline {
    font-size: 0.75em;
    /* 12px / 16px */
    line-height: 1.5;
    /* 18px */
  }

  .post-categories,
  .post-tags {
    display: inline-block;
    margin: 1.5em 0;
  }

  .post-categories {
    margin-left: 1.5em;
  }

  .further-reading div {
    display: inline-block;
    vertical-align: top;
    width: 47%;
  }
  .further-reading .next {
    text-align: left;
  }
  .further-reading .previous {
    float: right;
    margin: 0 0 0 6%;
  }
}
@media all and (min-width: 56.25em) {
  .singular .post-header,
  .singular .post-content,
  .singular .post-meta,
  .error-404 .post-header,
  .error-404 .post-content,
  .error-404 .post-meta {
    padding: 0 9.08406%;
  }
  .singular .post-header,
  .error-404 .post-header {
    margin: 3em 0;
  }
  .singular .post-title,
  .error-404 .post-title {
    font-size: 3.188em;
    /* 51px / 16px */
    line-height: 1.314;
    /* 67px */
  }
}
@media all and (min-width: 68.75em) {
  .singular .post-content,
  .singular .post-meta,
  .error-404 .post-content,
  .error-404 .post-meta {
    padding: 0 13.62609%;
  }
}
@media all and (min-width: 75em) {
  .singular .post-content,
  .singular .post-meta,
  .error-404 .post-content,
  .error-404 .post-meta {
    padding: 0 18.16812%;
  }
}
.search-form-container .search-field {
  vertical-align: top;
}

.site-header .search-form-container {
  position: absolute;
  top: -6px;
  left: 4.167%;
}
.site-header .search-form-container button {
  position: relative;
  z-index: 9;
  background: none;
  border: none;
  margin: 5px 0 0 -10px;
  padding: 6px 10px;
  font-size: 1em;
  line-height: 1.5;
}
.site-header .search-form-container button:hover {
  cursor: pointer;
}
.site-header .search-form-container button:focus {
  outline: none;
}
.site-header .search-form-container button:focus i {
  color: #ABABAB;
}
.site-header .search-form-container button.open + form {
  opacity: 1;
}
.site-header .search-form-container i {
  color: #2B2B2B;
  z-index: -1;
}
.site-header .search-form-container form {
  position: absolute;
  top: 0;
  left: -12px;
  right: 0;
  padding-top: 6px;
  opacity: 0;
  -webkit-transition: opacity 0.15s ease-in-out, right 0.15s ease-in-out;
          transition: opacity 0.15s ease-in-out, right 0.15s ease-in-out;
}
.site-header .search-form-container .search-field {
  max-width: none !important;
  outline: none !important;
  padding: 6px 12px !important;
}
.site-header .search-form-container .search-field::-webkit-search-decoration, .site-header .search-form-container .search-field::-webkit-search-cancel-button, .site-header .search-form-container .search-field::-webkit-search-results-button, .site-header .search-form-container .search-field::-webkit-search-results-decoration {
  -webkit-appearance: none;
}
.site-header .search-form-container .search-field::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
.site-header .search-form-container .search-field::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
.site-header .search-form-container .search-field:focus {
  background: #EDEDED !important;
  outline: solid 1px #D9D9D9 !important;
}

@media all and (min-width: 56.25em) {
  .site-header .search-form-container {
    position: relative;
    float: left;
    top: -6px;
    left: 0;
    z-index: 9;
    text-align: left;
    margin: 0 1.5em 0 0;
  }
  .site-header .search-form-container button {
    margin: 0;
  }
  .site-header .search-form-container button:hover {
    cursor: pointer;
  }
  .site-header .search-form-container button.open + form {
    right: -266px;
  }
  .site-header .search-form-container form {
    padding-top: 0;
    left: 0;
  }
}
.search .search-header {
  text-align: center;
}

.search-bottom {
  clear: both;
  text-align: center;
  margin-top: 4.5em;
}
.search-bottom .search-form-container {
  margin-top: 1.5em;
}

/**
 * 14.2 Galleries
 */
.gallery {
  margin: 2.25em auto;
}

.gallery-item {
  display: inline-block;
  padding: 0.75em;
  text-align: center;
  vertical-align: top;
  width: 100%;
  margin: 0;
}
.gallery-item img {
  max-width: 100%;
  max-height: 100%;
}
.gallery-item a {
  border: none;
}

.gallery-columns-2 .gallery-item {
  max-width: 50%;
}

.gallery-columns-3 .gallery-item {
  max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
  max-width: 25%;
}

.gallery-columns-5 .gallery-item {
  max-width: 20%;
}

.gallery-columns-6 .gallery-item {
  max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
  max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
  max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
  max-width: 11.11%;
}

.gallery-icon img {
  margin: 0 auto;
}

.gallery-caption {
  color: #545454;
  display: block;
  font-family: "Raleway", sans-serif;
  font-size: 12px;
  padding: 0.5em 0 0;
  margin: 0;
}

.gallery-columns-6 .gallery-caption,
.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
  display: none;
}

/* Jetpack Galleries */
.tiled-gallery {
  margin: 2.25em auto !important;
}
.tiled-gallery .gallery-row {
  margin: 0 auto;
}

.singular-attachment .attachment-container img {
  display: block;
}

/*

ATTENTION:

Please do not edit this. Your changes will be overwritten when you update Chosen.

If you want to make CSS edits, use the "Custom CSS" section in the Customizer instead (Appearance > Customize).

If you want more information about customizing Chosen with CSS, check out this guide: https://www.competethemes.com/help/custom-css-chosen/

*/
